* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



.jumbotron {
  background-color: #141414;
  height: 100vh;
  border-radius: 0;
  background-image: url(../images/hbg2.jpg);
  background-size: cover;
  background-color: rgba(0,0,0, .50);

}

.jumbotron, p {
  font-size: 20px;
}

#jumbotron-landing { 
  background-color: #141414;
  margin: 0 auto;
  width: 100%;

 }

 #landing-button {
  font-weight: 700;

 }


#landing-button:hover {
  color: #141414;
  font-weight: 700;
}



#landing-about {
  font-family: 'Montserat', sans-serif;
  color: #F2F2F2;
  font-size: 8em;
  padding-top: 28vh;
  letter-spacing: 5px;
}


.fadeIn {
  animation-duration: 5s;

}



.about-tags {
  font-weight: bold;
  font-family: 'Montserat', sans-serif;
}



.navbar {
  background-color: #06565E;

}   

.navbar-brand, 
.nav-link {
  color: white!important;
  text-align: center;
  
}

.link {
  border-bottom: 2px solid white;
  background-color: grey;
  border-radius: 20px;
}

.nav-link:hover {
  background-color: black;
  border-radius: 20px;
  color: white!important;

}


.toplogo {
  margin-top: 5px;
  margin: 0;
  float: none;
  text-align: center;
}


.toplogo img {
  height: 30%;
  width: 30%;
}


img {
  height: 100%;
  object-fit: cover;
}



.disclaimer {
  background-image: url(../images/headbg.jpg);
  background: rgba(255, 0, 0, 0.65)
  background-size: cover;
  color: #06565E;
  font-size: bold;
}


footer {
  background-image: url(../images/footer.jpg);
  background-color: #06565E;
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  height: 20vh;
}



h2 {
  color: white;
}


.explore {
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight: 10px;
}



.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30%;
  height: 0;
  overflow:hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}


small {
  justify-content: center;
  display: flex;
  color: white;
  font-size: 10px;
  font-weight: 10px;
  letter-spacing: 5px;
  padding-top: 30px;
  display: inline;

} 

footer {
  background-color: #00595A;
  height:15vh;
  width: 100%;
}

i {

  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
  padding: 5px;
}



@media only screen and (min-width: 401px) and (max-width: 960px){

  #landing-about {
  font-family: 'Montserat', sans-serif;
  color: #F2F2F2;
  font-size: 5em;
  padding-top: 20vh;
  letter-spacing: 3px;
  }

  .jumbotron {
  background-color: #141414;
  border-radius: 0;
  background-image: url(../images/hbg2.jpg);
  background-size: cover;
  height: 100%;
  background-color: rgba(0,0,0, .20);
  }


  .home-info > p {
  font-size: 15px!important;
  }


  p {
  color: black;
  text-align: center;
  font-size: 30px;
  font-weight: 10px;
  }

  #mission {
  background-color: grey;
  color: #f2f2f2;
  background-image: url(../images/bg6.jpg);
  background-size: cover;
  height: 100%;

  }

  #vision {
  background-color: #f2f2f2;
  color: #141414;
  background-image: url(../images/sand.jpg);
  background-blend-mode: darken;
  background-size: cover;
  height: 100%;
  }

  .toplogo {
  margin-top: 5px;
  margin: 0;
  float: none;
  text-align: left; 
  }

  footer {
  background-image: url(../images/footer.jpg);
  background-color: #06565E;
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  height: 100px;
  }


}



@media only screen and (max-width: 400px) {


  #landing-about {
  font-family: 'Montserat', sans-serif;
  color: #F2F2F2;
  font-size: 3em;
  width: 100%;
  padding-top: 10vh;
  letter-spacing: 2px;
  }

  .jumbotron {
  background-color: #141414;
  border-radius: 0;
  background-image: url(../images/hbg2.jpg);
  height: 100%;
  background-size: cover;
  background-color: rgba(0,0,0, .10);

  }

  .home-info > p {
  font-size: 10px!important;
  }


  p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 5px;
  }

  #mission {
  background-color: grey;
  color: #f2f2f2;
  background-image: url(../images/bg6.jpg);
  height: 100%;
  background-size: cover;

  }

  #vision {
  background-color: #f2f2f2;
  color: #141414;
  background-image: url(../images/sand.jpg);
  background-blend-mode: darken;
  background-size: cover;
  height: 100%;
  }

  .toplogo {
  margin-top: 5px;
  margin: 0;
  float: none;
  text-align: left;
  }

  footer {
  background-image: url(../images/footer.jpg);
  background-color: #06565E;
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  height: 100px;
  }

}